* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;

}

.inactive {
    display: none;
}

header {
    width: 100%;
    height: 30vh;
    
       
}

.logo {
    opacity: 40%;
    width: 100px;
   
}

.lista_nav{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.botones {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    transition: .5s;

}
.botones:hover {
    transform: scale(1.3);
}

.contaniner-cards {
    display: flex;
    flex-direction: column;

}
.card {
    width: 54%;
    -webkit-box-shadow: 10px 10px 13px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 13px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 13px -11px rgba(0,0,0,0.75);

}

#img-cards {
    height: 140px;
    padding: 3px;
}

.footer-main {
    height: 50vh;
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* nav {
    width: 90%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_nav_ul {
    width: 100%;
    height: 10vh;
    list-style: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    font-size: 1.6rem;
}

.header_nav_ul li a {
    text-decoration: none;
      
}

.header_nav_ul li:hover {
    font-size: 3rem;
    text-decoration:underline black;    
}

.header_nav_ul_li_services .ul_services_children {
    display: none;
    position: absolute;
    text-align-last: center;
    width: 35%;
    z-index: 1000;
    font-size: 1.6rem;

}

.header_nav_ul_li_services:hover .ul_services_children {
    display: block;
    flex-direction: column;
    z-index: 1000;
    list-style: none;
    
} */